@model List<Test.Database.Entities.GuineaPig> 

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div id="databaseDiv">ITEM:
        @foreach (var item in Model)
        {
            <div>@item.Id</div>
            <div>@item.Name</div>
            <div>@item.Sex</div>
            <div>@item.Predator</div>
            <div>@item.Tail</div>
            <div>@item.Color</div>
        }
    </div>
</body>
</html>